flow.json
[{"id":"dbe7cfcd.187cd","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e476b01c.6b149","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"47ae8e88.5214b","type":"inject","z":"dbe7cfcd.187cd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":80,"wires":[["3cfa81d1.c5243e"]]},{"id":"e0c5e7f5.301a18","type":"sentiment","z":"dbe7cfcd.187cd","name":"","property":"payload","x":160,"y":360,"wires":[[]]},{"id":"e79095ab.50f168","type":"inject","z":"e476b01c.6b149","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":140,"wires":[["86d3ad0a.e43f3"]]},{"id":"86d3ad0a.e43f3","type":"sentiment","z":"e476b01c.6b149","name":"","property":"payload","x":240,"y":140,"wires":[["adb1793a.c0b268"]]},{"id":"adb1793a.c0b268","type":"debug","z":"e476b01c.6b149","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":140,"wires":[]},{"id":"759c8bce.2519e4","type":"inject","z":"dbe7cfcd.187cd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":260,"wires":[[]]},{"id":"ba205de5.8a6af","type":"sentiment","z":"dbe7cfcd.187cd","name":"","property":"payload","x":460,"y":140,"wires":[[]]},{"id":"13d336c5.51fd09","type":"debug","z":"dbe7cfcd.187cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":80,"wires":[]},{"id":"813e436b.d74a8","type":"function","z":"dbe7cfcd.187cd","name":"","func":"msg.payload = ['a','asd','asd','a','asd','asd','a','asd','asd','a','asd','asd','a','asd','asd']\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":80,"wires":[["9f5197b3.bdd0d8"]]},{"id":"9f5197b3.bdd0d8","type":"split","z":"dbe7cfcd.187cd","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":370,"y":80,"wires":[["1c8316b3.3c1b89"]]},{"id":"1c8316b3.3c1b89","type":"delay","z":"dbe7cfcd.187cd","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":80,"wires":[["13d336c5.51fd09"]]},{"id":"3cfa81d1.c5243e","type":"e-mail in","z":"dbe7cfcd.187cd","name":"","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"Read","criteria":"UNSEEN","repeat":"300","fetch":"trigger","inputs":1,"x":220,"y":220,"wires":[["13d336c5.51fd09"]]},{"id":"19ad3a62.969d56","type":"sentiment","z":"dbe7cfcd.187cd","name":"","property":"payload","x":340,"y":380,"wires":[[]]},{"id":"59e6e230.8fed2c","type":"sentiment","z":"dbe7cfcd.187cd","name":"","property":"payload","x":540,"y":220,"wires":[[]]},{"id":"72b5c4e7.4b470c","type":"http in","z":"dbe7cfcd.187cd","name":"","url":"","method":"get","upload":false,"x":600,"y":400,"wires":[[]]}]