flow.json
[{"id":"dbe7cfcd.187cd","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e476b01c.6b149","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"47ae8e88.5214b","type":"inject","z":"dbe7cfcd.187cd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":80,"wires":[[]]},{"id":"a73094b7.624c68","type":"template","z":"dbe7cfcd.187cd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":180,"y":260,"wires":[[]]},{"id":"e0c5e7f5.301a18","type":"sentiment","z":"dbe7cfcd.187cd","name":"","property":"payload","x":160,"y":360,"wires":[[]]},{"id":"552a0479.3845dc","type":"inject","z":"dbe7cfcd.187cd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":180,"wires":[["4b704a02.c25c84"]]},{"id":"4b704a02.c25c84","type":"debug","z":"dbe7cfcd.187cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":60,"wires":[]},{"id":"21c8f52.583120a","type":"http in","z":"dbe7cfcd.187cd","name":"","url":"","method":"get","upload":false,"x":350,"y":180,"wires":[[]]},{"id":"e79095ab.50f168","type":"inject","z":"e476b01c.6b149","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":140,"wires":[["86d3ad0a.e43f3"]]},{"id":"86d3ad0a.e43f3","type":"sentiment","z":"e476b01c.6b149","name":"","property":"payload","x":240,"y":140,"wires":[["adb1793a.c0b268"]]},{"id":"adb1793a.c0b268","type":"debug","z":"e476b01c.6b149","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":140,"wires":[]},{"id":"759c8bce.2519e4","type":"inject","z":"dbe7cfcd.187cd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":240,"wires":[[]]}]