flow.json
[{"id":"dbe7cfcd.187cd","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"47ae8e88.5214b","type":"inject","z":"dbe7cfcd.187cd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[["e85e96c7.ec8508"]]},{"id":"1e88a4ec.27be4b","type":"inject","z":"dbe7cfcd.187cd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[[]]},{"id":"e85e96c7.ec8508","type":"switch","z":"dbe7cfcd.187cd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":380,"y":140,"wires":[[]]},{"id":"a73094b7.624c68","type":"template","z":"dbe7cfcd.187cd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":180,"y":260,"wires":[[]]},{"id":"e0c5e7f5.301a18","type":"sentiment","z":"dbe7cfcd.187cd","name":"","property":"payload","x":160,"y":360,"wires":[[]]}]